.register-form {
  max-width: 400px;
  margin: 0 auto;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;

  div:nth-child(1) {
    text-align: initial;
  }

  div:nth-child(2) {
    width: 100%;
  }
}