@import "../../../styles/baseline/_styles";

.questionary-title {
  border-bottom: 1px solid $color-grey;
  padding-bottom: 10px;

  label, input {
    font-size: rem-calc(20);
  }
}

.question-title {
  label, input {
    font-size: rem-calc(17);
  }
}

.list-options {
  background-color: rgba($color-grey, .1);
  padding: 10px;
  margin-bottom: 20px;
}