@import "../../../styles/baseline/_styles";

.title {
  margin-bottom: 10px;
}

.selected {
  opacity: .5;
  border: 2px solid $color-black;
  background-color: $color-red;
  color: $color-white;
}

.active {
  background-color: $color-secondary !important;
  color: $color-white;
}

.option {
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 5px;
}
