@import "../../../styles/baseline/_styles";

.content {
  margin-top: 30px;
}

.question-options {
  padding: 30px 0;
}

.option-container {
  padding: 10px;
  border: 1px solid $color-grey;
  transition: $global-transition;
  cursor: pointer;
  margin-bottom: 5px;

  &:hover {
    background-color: $color-primary;
    color: $color-white;
  }
}